.header {
  text-align: center;
  font-size:35px; 
}
.toDoModule {
  color: black;
}
.formContainer form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.toDoTask {
    display: flex;
    background-color: rgba(249, 248, 247, 0.68);
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    height: 40px;
    justify-content: center;
    align-items: center ;
    margin-top: 5px;
    max-width: max-content;
}
.taskTitle {
  margin-right: 15px;
}
.buttons {
  border: none;
  background: none;
  margin-left: 2px;
  font-size: large;
}
.toDoTask input {
  border: none;
  background: none;
  width:113px;
}

.taskTitle:placeholder-shown{
  max-width: 150px;
  flex-wrap: wrap;
  text-overflow: clip;
}

.toDoTask ::placeholder { 
  display: flex;
  flex-wrap: wrap;
  color: rgb(101, 99, 99);
  opacity: 1;
}

.modulesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.module {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(181, 218, 219, 0.619);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.titleHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.submitBtn {

    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .submitBtn:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .submitBtn:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .submitBtn {
      padding: 13px 50px 13px;
    }
  }
